@charset "utf-8";
.user_login {background: none repeat scroll left center #F4F5F5;
    border: 3px solid #E0E0E0;
    clear: left;
    margin: 0;
    overflow: hidden;
    padding: 36px 0 16px;
    width: 550px;
}
.user_login .user_login_ultop {
    float: left;
    margin: 0;
    padding: 0 0 28px 50px;
    width: 600px;
}
.user_login .user_login_ultop ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 270px;
}
.user_login .user_login_ultop ul li {
	float: right;
    margin: 0;
    padding: 0 0 2px;
}
.user_login .user_login_ultop ul li img {
    vertical-align: middle;
}
.user_login .user_login_ultop ul li input {
    vertical-align: middle;
}
.user_login .user_login_ultop ul li .input_style {
    border: 2px solid #0958A5;
    height: 17px;
    margin: 0 0 0 9px;
    padding: 2px 0 0 2px;
    width: 176px;
}
.user_login .user_login_ultop .btn_style {
    float: left;
    height: 46px;
    margin-left:5px; margin-top:1px;
    width: 120px;
}


.user_login .user_login_btstyle {
    float: left;
    margin: 0;
    padding: 14px 0 0 60px; 
    width: 754px;
}
.user_login .user_login_btstyle .bt_ulstyle1 {
    float: left;
    width: 75px;
}
.user_login .user_login_btstyle .bt_ulstyle1 li {
    background: url("../../images/member/bul_arrow.gif") no-repeat scroll 0 5px transparent;
    color: #727475;
    margin: 0 0 7px;
    padding: 0 0 0 11px;
}
.user_login .user_login_btstyle .bt_ulstyle2 {
    float: left;
    width: 119px;
}
.user_login .user_login_btstyle .bt_ulstyle2 li {
    margin: 0 0 7px;
}
.user_login .user_login_btstyle .bt_ulstyle2 li img {
    vertical-align: middle;
}