@charset "utf-8";

.P_LOGIN {width: 690px; margin: 98px auto 0;}
.P_LOGIN h1 {color: #222; font-size: 48px; font-weight: 500; text-align: center;}
.P_LOGIN .txt {margin-top: 32px; color: #666; font-size: 20px; text-align: center; line-height: 30px;}
.loginbox {margin-top: 55px; padding: 59px 0; border: 1px solid #dde2e5; border-radius: 25px; box-shadow: 3px 8px 13px #ccc;}
.loginbox dl + dl {margin-top: 18px;}
.loginbox dl > * {float: left;}
.loginbox dl::after {content: ""; display: block; clear: both;}
.loginbox dt {width: 177px; height: 46px; padding-right: 19px; color: #222; font-size: 300; line-height: 46px; text-align: right;}
.loginbox dd input[type=text],
.loginbox dd input[type=password] {width: 336px; height: 46px; padding: 0 10px; border: 0; border-radius: 8px; color: #666; font-size: 16px; background: #f5f5f5;}
.loginbox dd .f_chk {margin-left: 6px;}
.loginbox .btn_a {padding: 30px 0 0 177px;}
.loginbox .btn_a .btn {width: 160px; height: 50px; margin-right: 12px; border-radius: 8px; color: #fff; font-size: 18px; font-weight: 500; text-align: center; line-height: 50px; background: #169bd5;}

.p_main .visual {width: 1400px; margin: 0 auto; padding: 0 50px;}
.p_main .visual p {height: 320px; padding: 85px 0 0 70px; border-radius: 40px; color: #fff; font-weight: 700; background: url(../images/main_visual.png) no-repeat; box-shadow: 3px 8px 13px #ccc;}
.p_main .visual p span {display: block;}
.p_main .visual p .t1 {font-size: 24px;}
.p_main .visual p .t2 {font-size: 48px;}
.p_main .visual p .t3 {margin-top: 15px; color: #9cdafe; font-weight: 400;}

.p_main .dash_board .inner {width: 1400px; margin: 70px auto 0; padding: 0 50px 65px 50px;}
.p_main .dash_board .tab {font-size: 0; text-align: center;}
.p_main .dash_board .tab li {display: inline-block;}
.p_main .dash_board .tab li + li {margin-left: 52px;}
.p_main .dash_board .tab li a {display: block; position: relative; padding-bottom: 24px; color: #ccc; font-size: 30px; font-weight: 700;}
.p_main .dash_board .tab li a.cur {color: #222;}
.p_main .dash_board .tab li a.cur::after {content: ""; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 4px; background: #004986;}
.p_main .dash_board .tab_contents {position: relative; margin-top: 50px;}
.p_main .dash_board .more {display: block; position: absolute; right: 0; top: -60px; width: 60px; height: 60px; font-size: 0; background: url(../images/ico_more.png) no-repeat;}
.p_main .dash_board .tab_item {display: none;}
.p_main .dash_board .tab_item:first-child {display: block;}
.p_main .dash_board .tab_item ul {padding: 0 20px;}
.p_main .dash_board .tab_item ul::after {content: ""; display: block; clear: both;}
.p_main .dash_board .tab_item ul li {float: left; width: 33.33%; padding: 0 20px;}
.p_main .dash_board .tab_item ul li:last-child {width: 33.34%;}
.p_main .dash_board .tab_item ul li a span {display: block;}
.p_main .dash_board .tab_item ul li .tit {color: #222; font-size: 24px; font-weight: 500; line-height: 28px;}
.p_main .dash_board .tab_item ul li .desc {margin-top: 35px; color: #666; font-size: 20px; line-height: 30px;}
.p_main .dash_board .tab_item ul li .dates {margin-top: 38px; color: #aaa; font-size: 16px;}

.p_main .g_area {background: #f2f2f2;}
.p_main .g_area .inner {width: 1400px; margin: 0 auto; padding: 0 50px 60px 50px;}
.p_main .g_area .inner::after {content: ""; display: block; clear: both;}
.p_main .g_area .inner > * {float: left;}
.p_main .g_area .left_col {width: 840px; margin-right: 20px; padding-top: 60px;}
.p_main .g_area .faq {position: relative; height: 500px; border-radius: 27px; background: #fff;}
.p_main .g_area .faq .head {height: 146px; padding: 40px 0 0 50px; border-bottom: 1px solid #e8e8e8;}
.p_main .g_area .faq .head h2 {color: #222; font-size: 30px; font-weight: 700;}
.p_main .g_area .faq .head h2 span {color: #004986;}
.p_main .g_area .faq .head p {margin-top: 6px; color: #888; font-size: 18px;}
.p_main .g_area .faq dl {margin-top: 30px; padding: 0 50px; font-size: 20px; font-weight: 300;}
.p_main .g_area .faq dl > * {position: relative; height: 32px; padding: 0 40px; line-height: 32px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.p_main .g_area .faq dl a {color: #222; font-size: 20px;}
.p_main .g_area .faq dl .q,
.p_main .g_area .faq dl .a {display: block; position: absolute; left: 0; top: 0; width: 32px; height: 32px; font-size: 0;}
.p_main .g_area .faq dl .q {background: url(../images/ico_q.png) no-repeat;}
.p_main .g_area .faq dl .a {background: url(../images/ico_a.png) no-repeat;}
.p_main .g_area .faq dl dt + dd {margin-top: 10px;}
.p_main .g_area .faq dl dd + dt {margin-top: 30px;}
.p_main .g_area .faq .more {display: block; position: absolute; right: 40px; top: 40px; width: 60px; height: 60px; font-size: 0; background: url(../images/ico_more.png) no-repeat;}

.p_main .g_area .promotion {position: relative; height: 140px; margin-top: 20px; padding: 56px 50px 0 50px; border-radius: 27px; background: #fff;}
.p_main .g_area .promotion::after {content: ""; display: block;}
.p_main .g_area .promotion h2 {float: left; width: 90px; color: #000; font-size: 26px; font-weight: 700; line-height: 26px;}
.p_main .g_area .promotion p {float: left; width: auto; height: 26px; color: #222; font-size: 20px; font-weight: 300; line-height: 26px;}
.p_main .g_area .promotion p strong {color: #004986;}
.p_main .g_area .promotion .more {display: block; position: absolute; right: 40px; top: 40px; width: 60px; height: 60px; font-size: 0; background: url(../images/ico_more.png) no-repeat;}

.p_main .g_area .inner .right_col {width: 440px; padding-top: 60px;}
.p_main .g_area .complaint {position: relative; height: 360px; padding: 42px 40px 0 40px; border-radius: 27px; background: #fff;}
.p_main .g_area .complaint h2 {color: #222; font-size: 28px; font-weight: 700;}
.p_main .g_area .complaint h2 span {color: #004986;}
.p_main .g_area .complaint ul {margin-top: 37px; font-size: 0; text-align: center;}
.p_main .g_area .complaint ul li {display: inline-block; min-width: 120px; vertical-align: top;}
.p_main .g_area .complaint ul li + li {margin-left: 60px;}
.p_main .g_area .complaint ul li a {display: block; padding-top: 137px; color: #333; font-size: 20px; line-height: 30px; background-position: center top;}
.p_main .g_area .complaint ul li a.tech {background: url(../images/ico_complain01.png) no-repeat;}
.p_main .g_area .complaint ul li a.buy {background: url(../images/ico_complain02.png) no-repeat;}
.p_main .g_area .complaint .more {display: block; position: absolute; right: 40px; top: 40px; width: 60px; height: 60px; font-size: 0; background: url(../images/ico_more.png) no-repeat;}

.p_main .g_area .survey {position: relative; height: 280px; margin-top: 20px; padding: 42px 40px 0 40px; border-radius: 27px; background: #fff;}
.p_main .g_area .survey h2 {color: #222; font-size: 28px; font-weight: 700;}
.p_main .g_area .survey h2 span {color: #004986;}
.p_main .g_area .survey p {margin-top: 16px; color: #333; font-size: 20px; line-height: 30px;}
.p_main .g_area .survey a {display: block; position: absolute; right: 45px; bottom: 37px; width: 150px; height: 50px; border-radius: 25px; color: #fff; font-size: 20px; text-align: center; line-height: 50px; background: #004986;}


.p_contactus .map {margin-top: 43px;}
.p_contactus .addr {margin-top: 30px; border-top: 2px solid #666;}
.p_contactus .addr h2 {color: #222; font-size: 20px; font-weight: 500;}
.p_contactus .addr .top {padding-bottom: 14px; border-bottom: 1px solid #dde2e5;}
.p_contactus .addr .top > * {float: left;}
.p_contactus .addr .top::after {content: ""; display: block; clear: both;}
.p_contactus .addr .top .left_col {width: 60%; padding-top: 24px;}
.p_contactus .addr .top dl {margin-top: 26px;}
.p_contactus .addr .top dl + dl {margin-top: 5px;}
.p_contactus .addr .top dl > * {display: inline-block; height: 20px; font-size: 16px; line-height: 20px; vertical-align: top;}
.p_contactus .addr .top dt {width: 120px; color: #222;}
.p_contactus .addr .top dt::before {content: ""; display: inline-block; width: 12px; height: 19px; margin-right: 9px; background: url(../images/ico_position.png) no-repeat; vertical-align: top;}
.p_contactus .addr .top dd {color: #666; font-weight: 300;}
.p_contactus .addr .top .right_col {width: 40%; text-align: right;}
.p_contactus .addr .top .right_col p {display: inline-block; vertical-align: top;}
.p_contactus .addr .top .right_col p:nth-child(1) {width: 167px; padding-top: 27px; color: #666; font-size: 15px; font-weight: 300; line-height: 18px; text-align: left;}
.p_contactus .addr .top .right_col p:nth-child(1) strong {display: block; padding-bottom: 10px; color: #222; font-size: 16px; font-weight: 400;}
.p_contactus .addr .top .right_col p:nth-child(2) {padding-top: 14px;}

.p_contactus .addr .bot {padding-bottom: 28px; border-bottom: 1px solid #dde2e5;}
.p_contactus .addr .bot > * {float: left; width: 50%;}
.p_contactus .addr .bot::after {content: ""; display: block; clear: both;}
.p_contactus .addr .bot .left_col {padding-top: 24px;}
.p_contactus .addr .bot .left_col h2 {padding-bottom: 24px;}
.p_contactus .addr .bot .left_col dl > * {display: inline-block; font-size: 16px;}
.p_contactus .addr .bot .left_col dl + dl {margin-top: 6px;}
.p_contactus .addr .bot .left_col dt {width: 120px; color: #222; line-height: 20px;}
.p_contactus .addr .bot .left_col dt::before {content: ""; display: inline-block; width: 15px; height: 20px; margin-right: 6px; background: url(../images/ico_subway.png) no-repeat; vertical-align: top;}
.p_contactus .addr .bot .left_col dd {color: #666; font-weight: 300;}
.p_contactus .addr .bot .right_col {padding-top: 24px;}
.p_contactus .addr .bot .right_col h2 {padding-bottom: 24px;}
.p_contactus .addr .bot .right_col dl > * {display: inline-block; font-size: 16px;}
.p_contactus .addr .bot .right_col dl + dl {margin-top: 6px;}
.p_contactus .addr .bot .right_col dt {width: 83px; color: #222; line-height: 20px;}
.p_contactus .addr .bot .right_col dt.call::before {content: ""; display: inline-block; width: 15px; height: 20px; margin-right: 6px; background: url(../images/ico_call.png) no-repeat; vertical-align: top;}
.p_contactus .addr .bot .right_col dt.email::before {content: ""; display: inline-block; width: 15px; height: 20px; margin-right: 6px; background: url(../images/ico_email.png) no-repeat; vertical-align: top;}
.p_contactus .addr .bot .right_col dd {color: #666; font-weight: 300;}

.POP_TEMPLATE_INFO .pop_inner {width: 1024px;}
.POP_BOARD_INFO {background-color: #fff;}
.POP_BOARD_INFO .pop_inner {width: 1024px; height: 100%; overflow: auto;}

.POP_LOGINFO .pop_inner {width: 550px;}

.POP_DUPID_CONF {background-color: #fff;}
.POP_DUPID_CONF .pop_inner {width: 550px; height: 100%; overflow: auto;}
.POP_DUPID_CONF .box_1 {text-align: center;}
.POP_DUPID_CONF .result {margin-top: 20px; padding: 28px 20px; border-radius: 9px; background: #eee;}
.POP_DUPID_CONF .result span {color: #0465be; font-weight: 700;}

.container.main {background: #f2f2f2;}
.P_MAIN .inner {position: relative; height: 196px; background: #fff;}
.P_MAIN .visual { position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 1300px; height: 320px; padding: 85px 0 0 70px; background: url(../images/main_visual.png);}
.P_MAIN .visual > span {display: block;}
.P_MAIN .visual .t_1 {color: #fff; font-size: 24px; font-weight: 700;}
.P_MAIN .visual .t_2 {color: #fff; font-size: 48px; font-weight: 700;}
.P_MAIN .visual .t_3 {margin-top: 12px; color: #7ecef4; font-size: 22px; font-weight: 400;}
.P_MAIN .bot {background: #f2f2f2;}
.P_MAIN .col {width: 1300px; margin: 0 auto; padding: 184px 0 75px 0;}
.P_MAIN .col::after {content: ""; display: block; clear: both;}
.P_MAIN .col > * {float: left;}
.P_MAIN .col .box {height: 660px; border-radius: 25px; background: #fff; overflow: hidden;}
.P_MAIN .col .head {position: relative; padding: 38px 0 0 49px;}
.P_MAIN .col .head h2 {color: #222; font-size: 36px; font-weight: 700;}
.P_MAIN .col .head h2 span {color: #124387;}
.P_MAIN .col .head .more {display: block; position: absolute; right: 40px; top: 50px; width: 28px; height: 28px; font-size: 0; background: url(../images/ico_plus2.png) no-repeat;}
.P_MAIN .col .left_col {width: 440px; margin-right: 20px;}
.P_MAIN .col .left_col .list li {position: relative; padding: 22px 150px 27px 49px;}
.P_MAIN .col .left_col .list li + li {border-top: 1px solid #e8e8e8;}
.P_MAIN .col .left_col .list li a {color: #222; font-size: 20px; font-weight: 300; line-height: 30px; letter-spacing: -1px;}
.P_MAIN .col .left_col .list li span {position: absolute; right: 49px; top: 23px; color: #888; font-size: 18px; font-weight: 300;}
.P_MAIN .col .right_col {width: 840px;}
.P_MAIN .col .right_col .list {margin-top: 12px; padding: 0 49px;}
.P_MAIN .col .right_col .list table td {padding: 11px 0; font-size: 18px; font-weight: 300;}
.P_MAIN .col .right_col .list table td a {color: #222;}
.P_MAIN .col .right_col .list table td span {display: inline-block; width: 50px; height: 24px; margin-left: 3px; border-radius: 12px; color: #fff; font-size: 13px; line-height: 24px; text-align: center; background: #d84c5c; vertical-align: 2px;}
.P_MAIN .col .right_col .list table td img {margin-right: 7px; vertical-align: 1px;}
.P_MAIN .col .right_col .list table td.date {color: #888;}

.POP_TEMPLATE_INTRO {background-color: #fff;}
.POP_TEMPLATE_INTRO .pop_inner {width: 1200px; height: 100%; overflow: auto;}
.POP_TEMPLATE_INTRO .list {padding: 27px 30px; border-radius: 10px; background: #f5f5f5;}
.POP_TEMPLATE_INTRO .list li {position: relative; padding-left: 16px; color: #666; font-size: 16px;}
.POP_TEMPLATE_INTRO .list li + li {margin-top: 5px;}
.POP_TEMPLATE_INTRO .list li::before {content: ""; display: block; position: absolute; left: 0; top: 9px; width: 6px; height: 6px; border-radius: 50%; background: #222;}
.POP_TEMPLATE_INTRO .list2 {margin-top: 20px;}
.POP_TEMPLATE_INTRO .list2::after {content: ""; display: block; clear: both;}
.POP_TEMPLATE_INTRO .list2 > div {float: left; width: 186px; height: 500px; border-bottom: 1px solid #dde2e5;}
.POP_TEMPLATE_INTRO .list2 > div + div {border-left: 1px solid #dde2e5;}
.POP_TEMPLATE_INTRO .list2 > div:first-child {border-left: 1px solid #dde2e5; border-radius: 10px 0 0 10px;}
.POP_TEMPLATE_INTRO .list2 > div:last-child {width: 190px; border-right: 1px solid #dde2e5; border-radius: 0 10px 10px 0;}
.POP_TEMPLATE_INTRO .list2 > div h2 {height: 66px; border-top: 1px solid #dde2e5; color: #222; font-size: 18px; font-weight: 500; text-align: center; line-height: 66px; background: #e7eef2;}
.POP_TEMPLATE_INTRO .list2 > div:first-child h2 {border-top-left-radius: 10px;}
.POP_TEMPLATE_INTRO .list2 > div:last-child h2 {border-top-right-radius: 10px;}
.POP_TEMPLATE_INTRO .list2 .dep1 {padding: 13px 29px;}
.POP_TEMPLATE_INTRO .list2 .dep1 li {color: #666; font-size: 16px; font-weight: 300;}
.POP_TEMPLATE_INTRO .list2 .dep1 li + li {margin-top: 6px;}
.POP_TEMPLATE_INTRO .list2 .dep2 {height: 433px; padding: 13px 29px; color: #222; font-weight: 300; background: #f5f5f5;}
.POP_TEMPLATE_INTRO .list2 > div:last-child .dep2 {border-bottom-right-radius: 10px;}
.POP_TEMPLATE_INTRO .list2 .dep2 > li {font-size: 16px;}
.POP_TEMPLATE_INTRO .list2 .dep2 > li + li {margin-top: 7px;}
.POP_TEMPLATE_INTRO .list2 .dep2 > li > ul {padding: 2px 0 0 8px;}
.POP_TEMPLATE_INTRO .list2 .dep2 > li > ul > li {font-size: 14px;}
.POP_TEMPLATE_INTRO .list2 .dep2 > li > ul > li + li {margin-top: 2px;}
.POP_TEMPLATE_INTRO .btn_area {margin-top: 20px;}
.POP_TEMPLATE_INTRO .btn_area .btn {width: 320px;}

.P_LOGIN {width: 690px; margin: 98px auto 0;}
.P_LOGIN h1 {color: #222; font-size: 48px; font-weight: 500; text-align: center;}
.P_LOGIN .txt {margin-top: 32px; color: #666; font-size: 20px; text-align: center; line-height: 30px;}
.loginbox {position: relative; margin-top: 55px; padding: 59px 0; border: 1px solid #dde2e5; border-radius: 25px; box-shadow: 3px 8px 13px #ccc;}
.loginbox dl + dl {margin-top: 18px;}
.loginbox dl > * {float: left;}
.loginbox dl::after {content: ""; display: block; clear: both;}
.loginbox dt {width: 143px; height: 46px; padding-right: 19px; color: #222; font-size: 16px; font-weight:  300; line-height: 46px; text-align: right;}
.loginbox dd input[type=text],
.loginbox dd input[type=password] {width: 336px; height: 46px; padding: 0 10px; border: 0; border-radius: 8px; color: #666; font-size: 16px; background: #f5f5f5;}
.loginbox .btn_login {display: block; position: absolute; left: 499px; top: 60px; width: 110px; height: 110px; border-radius: 8px; color: #fff; font-size: 18px; font-weight: 500; line-height: 110px; text-align: center; background: #169bd5;}
.loginbox .bot {padding: 20px 0 0 143px;}

.POP_TEMPLATE .pop_inner {width: 1280px;}

.POP_GROUP_SEARCH .pop_inner,
.POP_POST_SEARCH .pop_inner,
.POP_PRGFILE_SEARCH .pop_inner {width: 1024px;}
.POP_PRGFILE_SEARCH {background-color: #fff;}
.POP_PRGFILE_SEARCH .pop_inner {height: 100%; overflow: auto;}

.POP_GROUP_SEARCH {background-color: #fff;}
.POP_GROUP_SEARCH .pop_inner {height: 100%; overflow: auto;}

.POP_POST_SEARCH {background-color: #fff;}
.POP_POST_SEARCH .pop_inner {height: 100%; overflow: auto;}

.POP_LOGIN_LOG {background-color: #fff;}
.POP_LOGIN_LOG .pop_inner {width: 800px; height: 100%; overflow: auto;}

.POP_MENU_CREATE {background-color: #fff;}
.POP_MENU_CREATE .pop_inner {width: 800px; height: 900px;}
.POP_MENU_CREATE .tree_ui {overflow-y: auto; height: 530px; margin-top: 15px; padding: 0 15px 10px 15px; border: 1px solid #dde2e5; border-radius: 10px;}
.tree_ui {font-size: 15px; font-weight: 300;}
.tree_ui .top .f_chk_only {margin-right: 5px;}
.tree_ui .top .f_chk_only,
.tree_ui .top .f_chk_only::before {width: 13px; height: 13px; vertical-align: -18px;}
.tree_ui .list {margin-top: 10px; padding-left: 20px;}
.tree_ui .list li.folder::before {content: ""; display: inline-block; width: 18px; height: 18px; background: url(../images/ico_folder.gif); vertical-align: top;}
.tree_ui .list li.page::before {content: ""; display: inline-block; width: 18px; height: 18px; background: url(../images/ico_page.gif) no-repeat 3px top; vertical-align: top;}
.tree_ui .list .f_chk_only {width: 13px; height: 13px; margin-right: 2px; vertical-align: -24px;}
.tree_ui .list .f_chk_only::before {width: 13px; height: 13px;}
.tree_ui .list > li {margin-top: 7px;}
.tree_ui .list > li > ul,
.tree_ui .list > li > ul > li > ul {margin-top: 5px; padding-left: 20px;}
.tree_ui .list > li > ul > li + li,
.tree_ui .list > li > ul > li > ul > li + li {margin-top: 7px;}